page-players {
    ion-avatar{
        font-size: 50px;
    }
    ion-item-sliding {
    	.item-md {
    		padding-left: 0;
    	}
    }
    ion-item-options{
        background: #333;
    }

    ion-item-sliding.item-wrapper > ion-item{
        background: #333;
        color: whitesmoke;
    }
}