<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/logo.png" class="logo" />
        </ion-col>
        <ion-col col-10>
          <ion-title>Scores</ion-title>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
       <h5 *ngIf="this.playerStat.key===null">Choose Player:</h5>
       <h5 *ngIf="this.playerStat.key!=null">Player: {{playerStat.name}}</h5> 
     </ion-col>
   </ion-row>

   <ion-row class="playerstat">
    <ion-col col-3>
      <ion-icon name="sad" [style.color]="'#5a41ff'" [hidden]="this.playerStat.key===null"></ion-icon>
      <h6 [style.color]="'#5a41ff'" [hidden]="this.playerStat.key===null">{{ 100-this.getWinPercentage() }} %</h6>
    </ion-col>
    <ion-col col-6>
      <ion-avatar item-start>
        <img [src]="playerStat.img" class="player-img">
      </ion-avatar>
      <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="playerStat" (ngModelChange)="updateStats()">
        <ion-option *ngFor="let player of players | async" [value]="player">{{player.name}}</ion-option>
      </ion-select>
      <div class="ion-canvas">
        <canvas #canvas></canvas>
      </div>
    </ion-col>
    <ion-col col-3>
      <ion-icon name="trophy" [style.color]="'#6fffc8'" [hidden]="this.playerStat.key===null"></ion-icon>
      <h6 [style.color]="'#6fffc8'" [hidden]="this.playerStat.key===null">{{ this.getWinPercentage() }} %</h6>
    </ion-col>
  </ion-row>

  <ion-row [hidden]="this.playerStat.key===null">
    <ion-col col-12 class="playerstatData">
      <p>Played in {{ this.gameCount }} games. Wins {{ this.winCount }}-times. That's {{ this.getWinPercentage() }}%</p>
      <h5>Last matches:</h5>
      <ion-row *ngFor="let score of scoresForPlayer | async">
        <ion-col col-1>
          <ion-row>
            <span *ngIf="this.playerStat.key === score.playerLeft.key && score.scoreLeft === 15  ||
            this.playerStat.key === score.playerRight.key  && score.scoreRight === 15 ||
            this.playerStat.key === score.playerLeft.key  && score.scoreLeft === 9 && score.scoreRight === 0 ||
            this.playerStat.key === score.playerRight.key  && score.scoreRight === 9 && score.scoreLeft === 0
            ; else otherContent">
            <ion-icon name="trophy" [style.color]="'#6fffc8'"></ion-icon>
          </span>
          <ng-template #otherContent>
            <ion-icon name="sad" [style.color]="'#5a41ff'"></ion-icon>
          </ng-template>
        </ion-row>
      </ion-col>
      <ion-col col-5><ion-row>vs. {{getOpponentName(score)}}</ion-row></ion-col>
      <ion-col col-3>
        <ion-row  class="score">
          <span>{{score.scoreLeft}}</span>
          <span>:</span>
          <span>{{score.scoreRight}}</span>
        </ion-row>
      </ion-col>
      <ion-col col-3><ion-row class="datetime">{{score.Date | date:'dd.MM.yy'}}</ion-row></ion-col>
    </ion-row>
  </ion-col>
</ion-row>
</ion-grid>
{{ this.getCanvas() }}
</ion-content>