page-groups {
    ion-avatar{
        font-size: 50px;
    }
    ion-item-sliding {
        background: #333;

    	.item-md {
    		padding-left: 0;
    	}
    }
    ion-item-options{
        background: #333;
    }
    ion-item-sliding.item-wrapper > ion-item{
       background: #333;
  

        p{
            margin: 0px;
            padding: 0px;
            font-size: 1em;
            color: whitesmoke;
        }

    }
   
   .checkicon{
        float: right;
        color: greenyellow;
        /*margin-top: -20px; for browser desktop, but fails or hides icon on mobile, so leave in comments */
    }
}