page-home {
    ion-col{
        text-align: center;
    }

    ion-select {
        max-width: 100%;
    }

    .select-player {
         .select-text{
            visibility: hidden;
        }
    }

   ion-avatar .player-img{
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    .scroll-content ion-row {
        padding-bottom: 16px;
    }

    .score{
        font-family: 'ds-digitalnormal';
        font-size: 2.7em;
        color: lightyellow;
        background-color:rgb(6, 6, 66);
        border-radius: 2px;
        padding: 0px;
    }
    .vs{
        padding-top: 0.3em;
        font-weight: bold;
       
    }
    .vsPlayer{
        padding-top: 3.3em;
        font-weight: bold;
       
    }
    .select-icon {
		visibility: hidden;
	}
}
