<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <img src="assets/imgs/logo.png" class="logo" />
        </ion-col>
        <ion-col col-10>
          <p>Match it!</p>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!--Players-->
    <ion-row class="players">

      <ion-col col-5>
        <div text-right>
        <ion-avatar item-start>
          <img [src]="score.playerLeft.img" class="player-img raised">
        </ion-avatar>
        <div class="name"><span class="placeholder" [hidden]="this.score.playerLeft.name">Player 1</span>{{score.playerLeft.name}}</div>
        </div>
        <ion-select interface="action-sheet" cancelText="Dismiss" class="select-player" [(ngModel)]="score.playerLeft" (ngModelChange)="updatePlayersLeft()">
          <ion-option *ngFor="let player of playersLeft | async" [value]="player">{{player.name}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-2 class="vsPlayer">vs.</ion-col>
      <ion-col col-5>
        <div text-left>
          <ion-avatar item-start>
            <img [src]="score.playerRight.img" class="player-img raised">
          </ion-avatar>
          <div class="name"><span class="placeholder" [hidden]="this.score.playerRight.name">Player 2</span>{{score.playerRight.name}}</div>
        </div>
        <ion-select interface="action-sheet" cancelText="Dismiss" class="select-player" [(ngModel)]="score.playerRight" (ngModelChange)="updatePlayersRight()">
          <ion-option *ngFor="let player of playersRight | async" [value]="player">{{player.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
        <!--Groups--> 
    <ion-row class="group"> 
       <ion-col col-12>
        <ion-item (click)="gotoGroups()">   
            <img [src]=this.currentGroup.img><div class="name">{{this.currentGroup.name}}</div>
        </ion-item>
      </ion-col> 
    </ion-row> 
    <!--Scores-->
    <ion-row class="track">
      <ion-col col-2>
      </ion-col>
      <ion-col col-3 class="score raised">
        <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="score.scoreLeft" placeholder="0" (ngModelChange)="updateScore()">
          <ion-option *ngFor="let score of scoreRange" #item [value]="score">{{score}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-2 class="score vs">:</ion-col>
      <ion-col col-3 class="score raised">
        <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="score.scoreRight" placeholder="0" (ngModelChange)="updateScore()">
          <ion-option *ngFor="let score of scoreRange" #item [value]="score">{{score}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
    <!--Save Button-->
    <ion-row class="controls">
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <button ion-button block class="raised" (click)="saveScore()">Save match</button>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <span class="info" [hidden]="this.score.scoreLeft!==0 && this.score.scoreRight!==0">
          Enter players and scores...<br />
        </span>
        <span class="info" [hidden]="getMatchInvalid()">
          ...press 'save match' to store it.<br />
        </span>
        <span class="warning" [hidden]="!scoreIsNotValid">{{this.getMessage()}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
