<ion-header>
  <ion-navbar>
    <ion-title>Match it!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <p>
          Track your match results.
        </p>
      </ion-col>
    </ion-row>

    <!--Players-->
    <ion-row>
      <ion-col col-5>
          <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="players">
            <ion-option *ngFor="let player of players" #item value="{{player.name}}">{{player.name}}</ion-option>
          </ion-select>
      </ion-col>
      <ion-col col-2>
        <strong>vs.</strong>
      </ion-col>
      <ion-col col-5>
          <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="players">
            <ion-option *ngFor="let player of players" #item value="{{player.name}}">{{player.name}}</ion-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <!--Scores-->
    <ion-row>
      <ion-col col-5>
        <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="scoreLeft">
          <ion-option *ngFor="let score of scoreRange" #item value="{{score}}">{{score}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-2>
        <strong>:</strong>
      </ion-col>
      <ion-col col-5>
          <ion-select interface="action-sheet" cancelText="Dismiss" [(ngModel)]="scoreRight">
            <ion-option *ngFor="let score of scoreRange" #item value="{{score}}">{{score}}</ion-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <!--Save Button-->
    <ion-row>
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <button ion-button round outline>Save match</button>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>