// App Global Sass

ion-header {
	ion-col{
        text-align: center;
    }
    .toolbar-background-md {
        background: color($colors, dark);
        border-color: color($colors, dark);
    }
    .toolbar-content {
        background-color: color($colors, dark);
        min-height: 60px;
        vertical-align: middle;
        p {
            font-size: 1.3em;
            vertical-align: middle;
           
            color:white;
        }
       
    }
}

.logo {
    margin-top: 10px;
    max-width: 35px;
}

button.button-md{
	color: color($colors, dark);
}

ion-item-options button.button-md{
    color: #FFF;
}   

.scroll-content{
    background: #333;
    color: whitesmoke;
}

//ios notch fix
.toolbar-background-ios {
    background: #222;
}

.ios .navbar{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.ios .toolbar{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
  
.ios .toolbar-title{
    border: 0px;
    color:white;
    margin: 0px;
    padding: 0px 0px 75px 0px;
}

$toolbar-ios-title-font-size: 1.7em;